<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png"  width="300" alt="cognitiveclass.ai logo"  />
</center>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS.

    Here you should place the cursor at Date field and manually type as DD-MM-YYYY.

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [67]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa
!pip install ipython-sql

Requirement already satisfied: sqlalchemy==1.3.9 in c:\users\hadjy\anaconda3\lib\site-packages (1.3.9)
Requirement already satisfied: ibm_db_sa in c:\users\hadjy\anaconda3\lib\site-packages (0.3.7)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\hadjy\anaconda3\lib\site-packages (from ibm_db_sa) (1.3.9)
Requirement already satisfied: ibm-db>=2.0.0 in c:\users\hadjy\anaconda3\lib\site-packages (from ibm_db_sa) (3.1.0)
Requirement already satisfied: ipython-sql in c:\users\hadjy\anaconda3\lib\site-packages (0.4.0)
Requirement already satisfied: six in c:\users\hadjy\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\hadjy\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\hadjy\anaconda3\lib\site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: prettytable<1 in c:\users\hadjy\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlparse in c:\users\hadjy\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: ipython>=1.0 in c:\users\hadjy\anaconda3\lib\site-packages (from ipython-sql) (7.22.0)
Requirement already satisfied: jedi>=0.16 in c:\users\hadjy\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: pygments in c:\users\hadjy\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.8.1)
Requirement already satisfied: pickleshare in c:\users\hadjy\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: colorama in c:\users\hadjy\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: traitlets>=4.2 in c:\users\hadjy\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\hadjy\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (52.0.0.post20210125)
Requirement already satisfied: decorator in c:\users\hadjy\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.0.6)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\hadjy\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.17)
Requirement already satisfied: backcall in c:\users\hadjy\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\hadjy\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\hadjy\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [68]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

**DB2 magic in case of old UI service credentials.**

In the next cell enter your db2 connection string. Recall you created Service Credentials for your Db2 instance before. From the **uri** field of your Db2 service credentials copy everything after db2:// (except the double quote at the end) and paste it in the cell below after ibm_db_sa://

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_edX/images/URI.jpg">

in the following format

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name**

**DB2 magic in case of new UI service credentials.**

<img src ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width=600>  

*   Use the following format.

*   Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password\@my-hostname:my-port/my-db-name?security=SSL**

In [69]:
%sql ibm_db_sa://pvn38843:Ocap4CPTFv52aeKD@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB?security=SSL

In [70]:
%sql SELECT * FROM SPACEXDATASET  LIMIT 5

 * ibm_db_sa://pvn38843:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[(datetime.date(2010, 6, 4), datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 12, 8), datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 5, 22), datetime.time(7, 44), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (datetime.date(2012, 10, 8), datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 1), datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [71]:
%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES \
      where TABSCHEMA not in ('SYSIBM', 'SYSCAT', 'SYSSTAT', 'SYSIBMADM', 'SYSTOOLS', 'SYSPUBLIC')

 * ibm_db_sa://pvn38843:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[('PVN38843', 'SPACEXDATASET', datetime.datetime(2021, 11, 13, 17, 16, 5, 508238)),
 ('PVN38843', 'PETSALE', datetime.datetime(2021, 7, 25, 21, 32, 35, 310938)),
 ('PVN38843', 'PET', datetime.datetime(2021, 7, 25, 21, 32, 35, 386383)),
 ('PVN38843', 'PETRESCUE', datetime.datetime(2021, 7, 25, 21, 54, 30, 481323)),
 ('PVN38843', 'INSTRUCTOR', datetime.datetime(2021, 7, 25, 23, 12, 40, 963182)),
 ('PVN38843', 'INTERNATIONAL_STUDENT_TEST_SCORES', datetime.datetime(2021, 7, 26, 17, 45, 38, 302358)),
 ('PVN38843', 'CHICAGO_PUBLIC_SCHOOLSVIEW', datetime.datetime(2021, 8, 2, 21, 26, 6, 793588)),
 ('PVN38843', 'SCHOOL', datetime.datetime(2021, 7, 28, 17, 49, 31, 29370)),
 ('PVN38843', 'CENSUS_DATA', datetime.datetime(2021, 7, 29, 16, 46, 23, 32306)),
 ('PVN38843', 'CHICAGO_CRIME_DATA', datetime.datetime(2021, 7, 29, 16, 48, 22, 571675)),
 ('PVN38843', 'CHICAGO_PUBLIC_SCHOOLS', datetime.datetime(2021, 7, 30, 11, 10, 29, 463529)),
 ('PVN38843', 'EMPSALARY', datetime.datetime(2021, 7, 31, 17, 26, 35, 902363)),
 ('PVN38843', 'JOBSALARYRANGES', datetime.datetime(2021, 7, 31, 22, 1, 28, 374936)),
 ('PVN38843', 'BANKACCOUNTS', datetime.datetime(2021, 7, 31, 23, 26, 26, 704610)),
 ('PVN38843', 'SHOESHOP', datetime.datetime(2021, 7, 31, 23, 42, 35, 636439)),
 ('PVN38843', 'EMPLOYEES', datetime.datetime(2021, 8, 1, 0, 35, 30, 740751)),
 ('PVN38843', 'JOB_HISTORY', datetime.datetime(2021, 8, 1, 0, 35, 30, 952475)),
 ('PVN38843', 'JOBS', datetime.datetime(2021, 8, 1, 0, 35, 31, 175031)),
 ('PVN38843', 'DEPARTMENTS', datetime.datetime(2021, 8, 1, 0, 35, 31, 377126)),
 ('PVN38843', 'LOCATIONS', datetime.datetime(2021, 8, 1, 0, 35, 31, 781363)),
 ('PVN38843', 'CHICAGO_PUBLIC_SCHOOLSVIEWS', datetime.datetime(2021, 8, 2, 21, 30, 29, 827789)),
 ('PVN38843', 'CHICAGO_PUBLIC_SCHOOLSVIEWS2', datetime.datetime(2021, 8, 2, 21, 47, 0, 421700)),
 ('PVN38843', 'CHICAGO_SOCIOECONOMIC_DATA', datetime.datetime(2021, 8, 8, 21, 1, 5, 404133)),
 ('PVN38843', 'SCHOOLS.', datetime.datetime(2021, 8, 10, 17, 5, 0, 357799)),
 ('PVN38843', 'CHICAGOCENSUSDATAREV', datetime.datetime(2021, 9, 19, 13, 20, 46, 728416)),
 ('PVN38843', 'CHICAGOPUBLICSCHOOLSREV', datetime.datetime(2021, 9, 19, 20, 51, 17, 540486)),
 ('PVN38843', 'CHICAGOCRIMEDATAREV', datetime.datetime(2021, 9, 19, 20, 54, 49, 560445))]

In [72]:

%sql SELECT max(Date) from SPACEXDATASET

 * ibm_db_sa://pvn38843:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[(datetime.date(2020, 12, 6),)]

In [73]:
%sql SELECT * FROM SPACEXDATASET where DAYNAME(Date)='Friday' LIMIT 5

 * ibm_db_sa://pvn38843:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[(datetime.date(2010, 6, 4), datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2013, 3, 1), datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2014, 4, 18), datetime.time(19, 25), 'F9 v1.1', 'CCAFS LC-40', 'SpaceX CRS-3', 2296, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Controlled (ocean)'),
 (datetime.date(2016, 3, 4), datetime.time(23, 35), 'F9 FT B1020', 'CCAFS LC-40', 'SES-9', 5271, 'GTO', 'SES', 'Success', 'Failure (drone ship)'),
 (datetime.date(2016, 4, 8), datetime.time(20, 43), 'F9 FT B1021.1', 'CCAFS LC-40', 'SpaceX CRS-8', 3136, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'Success (drone ship)')]

In [74]:

%sql SELECT DISTINCT Launch_Site FROM SPACEXDATASET;

 * ibm_db_sa://pvn38843:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [75]:
%sql SELECT Launch_Site FROM SPACEXDATASET Where Launch_Site like 'CCA%' limit 5;

 * ibm_db_sa://pvn38843:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',),
 ('CCAFS LC-40',)]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [76]:
%sql SELECT sum(PAYLOAD_MASS__KG_) FROM SPACEXDATASET;

 * ibm_db_sa://pvn38843:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[(619967,)]

In [77]:
%sql SELECT sum(PAYLOAD_MASS__KG_) FROM SPACEXDATASET Where customer Like 'NASA (CRS)';

 * ibm_db_sa://pvn38843:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[(45596,)]

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [78]:
%sql SELECT avg(PAYLOAD_MASS__KG_) FROM SPACEXDATASET;

 * ibm_db_sa://pvn38843:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[(6138,)]

In [79]:
%sql SELECT avg(PAYLOAD_MASS__KG_) FROM SPACEXDATASET where Booster_Version Like 'F9 v1.1';

 * ibm_db_sa://pvn38843:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[(2928,)]

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [80]:
%sql SELECT Date , LANDING__OUTCOME FROM SPACEXDATASET where LANDING__OUTCOME like 'Success (ground pad)' Limit 1 ;

 * ibm_db_sa://pvn38843:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[(datetime.date(2015, 12, 22), 'Success (ground pad)')]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [81]:
%sql SELECT (Booster_Version), PAYLOAD_MASS__KG_  FROM SPACEXDATASET\
where mission_Outcome = 'Success' and PAYLOAD_MASS__KG_ between 4000 and 6000

 * ibm_db_sa://pvn38843:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[('F9 v1.1', 4535),
 ('F9 v1.1 B1011', 4428),
 ('F9 v1.1 B1014', 4159),
 ('F9 v1.1 B1016', 4707),
 ('F9 FT B1020', 5271),
 ('F9 FT B1022', 4696),
 ('F9 FT B1026', 4600),
 ('F9 FT B1030', 5600),
 ('F9 FT  B1021.2', 5300),
 ('F9 FT B1032.1', 5300),
 ('F9 B4 B1040.1', 4990),
 ('F9 FT  B1031.2', 5200),
 ('F9 FT  B1032.2', 4230),
 ('F9 B4  B1040.2', 5384),
 ('F9 B5 B1046.2', 5800),
 ('F9 B5 B1047.2', 5300),
 ('F9 B5 B1046.3', 4000),
 ('F9 B5B1054', 4400),
 ('F9 B5 B1048.3', 4850),
 ('F9 B5 B1051.2', 4200),
 ('F9 B5B1060.1', 4311),
 ('F9 B5 B1058.2', 5500),
 ('F9 B5B1062.1', 4311)]

### Task 7

##### List the total number of successful and failure mission outcomes

In [82]:
%sql SELECT Mission_Outcome, count(*) FROM SPACEXDATASET GROUP BY  Mission_Outcome ;

 * ibm_db_sa://pvn38843:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[('Failure (in flight)', 1),
 ('Success', 99),
 ('Success (payload status unclear)', 1)]

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [83]:
%sql SELECT max(PAYLOAD_MASS__KG_) FROM SPACEXDATASET;

 * ibm_db_sa://pvn38843:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[(15600,)]

In [84]:
%sql SELECT Booster_Version FROM SPACEXDATASET\
where (PAYLOAD_MASS__KG_) = (SELECT max(PAYLOAD_MASS__KG_) FROM SPACEXDATASET);

 * ibm_db_sa://pvn38843:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2',),
 ('F9 B5 B1058.3',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7',)]

### Task 9

##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [85]:
%sql SELECT (Booster_Version), Launch_Site, LANDING__OUTCOME, Date FROM SPACEXDATASET where\
Date like '2015%' and  LANDING__OUTCOME =  'Failure (drone ship)';

 * ibm_db_sa://pvn38843:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[('F9 v1.1 B1012', 'CCAFS LC-40', 'Failure (drone ship)', datetime.date(2015, 1, 10)),
 ('F9 v1.1 B1015', 'CCAFS LC-40', 'Failure (drone ship)', datetime.date(2015, 4, 14))]

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [90]:
%sql SELECT (LANDING__OUTCOME), Count(*) FROM SPACEXDATASET where LANDING__OUTCOME like'%sucess%' group by LANDING__OUTCOME order by LANDING__OUTCOME desc

 * ibm_db_sa://pvn38843:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[]

In [86]:
%sql SELECT LANDING__OUTCOME, Count(*) FROM SPACEXDATASET where LANDING__OUTCOME like\
'%sucess%' and date between '2010-06-04'and '2017-03-20' group by LANDING__OUTCOME,\
date order by Count(LANDING__OUTCOME) desc

 * ibm_db_sa://pvn38843:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[]

In [ ]:
, , where\
Date between 2010-06-04 and 2017-03-20 ;LANDING__OUTCOME =  'Failure (drone ship) or Success (ground pad))';

In [96]:
 %sql SELECT LANDING__OUTCOME, Count(*) FROM SPACEXDATASET group by LANDING__OUTCOME,  where  date between '2010-06-04'and '2017-03-20' order by LANDING__OUTCOME desc

 * ibm_db_sa://pvn38843:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0104N  An unexpected token "date" was found following "DING__OUTCOME, where".  Expected tokens may include:  "<boolean_test>".  SQLSTATE=42601\r SQLCODE=-104
[SQL: SELECT LANDING__OUTCOME, Count(*) FROM SPACEXDATASET group by LANDING__OUTCOME, where date between '2010-06-04'and '2017-03-20' order by LANDING__OUTCOME desc]
(Background on this error at: http://sqlalche.me/e/f405)

In [92]:
%sql SELECT LANDING__OUTCOME, Count(*) FROM SPACEXDATASET group by LANDING__OUTCOME

 * ibm_db_sa://pvn38843:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
Done.

[('Controlled (ocean)', 5),
 ('Failure', 3),
 ('Failure (drone ship)', 5),
 ('Failure (parachute)', 2),
 ('No attempt', 22),
 ('Precluded (drone ship)', 1),
 ('Success', 38),
 ('Success (drone ship)', 14),
 ('Success (ground pad)', 9),
 ('Uncontrolled (ocean)', 2)]

###Which of the following queries display the minimum payload mass

In [685]:
%sql select min(PAYLOAD_MASS__KG_) from SPACEXDATASET

 * ibm_db_sa://pvn38843:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
   ibm_db_sa://pvn38843:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[(0,)]

#You are writing a query that will give you the total payload_mass_kg carried by the booster versions. The mass  should be  
#stored in the mass column. You want the result column to be called “Total_Payload_Mass”. Which of the following SQL queries is correct?

In [686]:

%sql SELECT sum(PAYLOAD_MASS__KG_) as Total_Payload_Mass from SPACEXDATASET

 * ibm_db_sa://pvn38843:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/BLUDB
   ibm_db_sa://pvn38843:***@0c77d6f2-5da9-48a9-81f8-86b520b87518.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31198/bludb
Done.

[(619967,)]

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-10-12 | 0.4     | Lakshmi Holla | Changed markdown          |
| 2021-08-24 | 0.3     | Lakshmi Holla | Added library update      |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>